/* victor's css */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px 10px 15px;
  align-items: center;
  background: #e1fdf4;
}
.calendar {
  display: flex;
  align-items: center;
}
.open-modal-btn {
  padding: 12px 18px;
  border-radius: 3px;
  color: #fff;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  background: #00b87c;
  border: none;
}
.month,
.year,
.fa-calendar-alt,
.fa-angle-down {
  display: inline-block;
  color: #00b87c;
}
.month,
.year,
.fa-angle-down {
  font-weight: bold;
  margin-left: 4px;
}
.month,
.year {
  font-size: 18px;
}
/* victor's css */
