.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: #00b87c;
  font-size: 18px;
}
.nav button {
  color: #00b87c;
  background: #ffffff;
  border: none;
  padding: 10px 14px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
}
.nav div {
  color: #ffffff;
  font-weight: bold;
  line-height: 130%;
  font-size: 18px;
}
.fa-calendar-alt {
  margin-right: 15px;
}
.fa-bars {
  display: none;
}
.nav div .month {
  display: inline-block;
  margin-left: 5px;
}
.nav div .year {
  margin-left: 5px;
}
.fa-angle-down {
  display: inline-block;
  margin-left: 5px;
}
.fa-plus {
  display: none;
  color: #fff;
}
@media only screen and (max-width: 425px) {
  .fa-plus {
    display: block;
    font-weight: normal;
  }
  .nav button {
    display: none;
  }
  .fa-calendar-alt {
    display: none;
  }
  .fa-bars {
    display: inline-block;
    margin-right: 5px;
  }
}
