@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');
.event_btn_cancel{
    border: none;
    background-color: white;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #3A3A3A;
    margin: 10px;
    padding: 10PX 30px;
    box-shadow: 0 1px 1px 1px gray;
    border-radius: 3px;
  }
  .event_btn_cancel:hover{
    color:rgb(145, 141, 141)
  }
