.card {
    margin: 30px 20px;
    border-left: 5px solid blue;

}
.card:nth-child(4){
    border-left: 5px solid #FF9800;
 
}
.card:nth-child(5){
    border-left: 5px solid #8F3985;
    
}


.timings, .description{
    color: blue;
}

/* for the secondary color*/
.timing, .descriptions {
    color: #FF9800;
}

.timing1, .descriptions1 {
    color: #8F3985;
}

.timings, .timing1, .timing{
    font-size: 12px;
}