.create-button {
  border: none;
  padding: 10px 30px;
  color: #fff;
  background: #00b87c;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
  border-radius: 3px;
  margin: 20px;
  /*height: 36px;*/
}