@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

.containers {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1.6rem ;
}
.containers>* {
    padding-top: 1rem;
    color: #949294;
}
.containers h6 {
font-size: 1em;
Line-height: 16.9px;
color: #616061;
}
.icons-containers {
    display: flex;
    justify-content: space-between;
    width: 75%;
}
.input-containers {
    width: 100%;
    margin-top: 2rem;
}
.input-containers input {
    width: 90%;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
    padding-bottom: 1rem;
    
}
.icons-containers span i:active,
.icons-containers span i:hover{
    color: #1D1C1D;
    cursor: pointer;
}