.event-title{
    width: 97%;
    box-sizing: border-box;
    padding: 0.5em;
    margin: 15px auto 20px auto;
    border-bottom: 2px solid rgb(191, 191, 191) ;
    width: 87%;
  }
  
  .event-title input{
  display: inline;
  border: none;
  outline: none;
  width: 70%;
  margin-left: 0.9em;
  font-family: 'Lato', sans-serif;
  }