.navContainer {
  width: 40%;
  position: absolute;
  right: 80px;
  z-index: 99;
}
.navContainer > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navContainer > ul > li > a {
  text-decoration: none;
  color: black;
}
.banner {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;

  padding: 100px;
}
.landingHeader {
  display: flex;
  flex-direction: column;
}
.bannerDescription {
  width: 30%;
}
.bannerDescription > p {
  text-transform: capitalize;
  font-size: 10px;
  color: grey;
}
.bannerDescription > button {
  margin-top: 12px;
}
.bannerImage {
  position: absolute;
  top: 100px;
  left: 1000px;
}
.bannerImage > img {
  width: 100%;
}
.feedback {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px #bbf1df;
}

.iconContainer {
  width: 60px;

  margin: auto;
  justify-content: space-between;
  text-align: center;
}
.feedbackimg {
  background: blue;
  width: 60px;
  height: 60px;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  background-color: #f3f3f1;
  /* border-radius: 50%; */
}
.feedbackimg > img {
  width: 70%;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  justify-self: center;
  display: block;
}
.feedbackDetail {
  display: flex;
  flex-direction: column;

  margin-right: auto;
  margin-left: auto;
}
.paragraph {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
.paragraph > p {
  font-size: 30px;
}
.tutorial {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
button {
  background: #00b87c;
  width: 102px;
  height: 44px;
  border-radius: 15px;
}
.green {
  color: #00b87c;
}
.logoContainer {
  display: flex;
  width: 300px;
  text-transform: uppercase;
}
.logo {
  width: 80px;
  margin-left: 40px;
}
.logoText {
  margin: auto;
  font-weight: bolder;
}
.videoContainer {
  margin: auto;
}

/* .bigCircle {
  width: 800px;
  height: 800px;
  background: #e1fdf4;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
} */
