@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

.navbar{
    background-color: #00B87C;
    padding: 20px 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
select{
    display: inline;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: #00B87C;
    color: white;
    font-family: 'Lato', sans-serif;
    padding:0 8px;
    font-weight: 600;
}
.fal{
    font-size: 22px;
     color: white;
}