.deleteReminder {
  width: 384px;
  height: 165px;
  background: white;
  border-radius: 4px;
  padding: 6px;
  position: absolute;
  top: 340px;
  left: 8px;
  z-index: 5;
  border-radius: 6px;
}

.deleteReminder p {
  color: #1d1c1d;
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
  text-align: center;
}

.btnContainer {
  text-align: center;
}

.cancelbtn {
  width: 139px;
  height: 48px;
  padding: 12px 18px;
  border-radius: 3px;
  color: #00b87c;
  font-size: 15px;
  border: 1px solid #00b87c;
  margin-right: 15px;
}

.deletebtn {
  width: 139px;
  height: 48px;
  padding: 12px 18px;
  background-color: #d20000;
  border-radius: 3px;
  color: #ffffff;
  font-size: 15px;
}
