.timezone {
  display: inline;
  position: relative;
}
.input-timezone {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  padding: 2px 10px 10px 2px;
  color: black;
  outline: none;
  padding-top: 45px;
}
