.modal {
  position: absolute;
  width: 425px;
  min-height: 744px;
  background: #ffffff;
  z-index: 3;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.modal header {
  padding: 20px;
  background: #00b87c;
  color: #f6f6f6;
  display: flex;
  justify-content: space-between;
}
.modal header h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
}
.fa-times-circle {
  cursor: pointer;
}
.modal section {
  padding: 20px;
}
.event-btn,
.reminder-btn {
  display: inline-block;
  padding: 12px 18px;
  color: #00b87c;
  background: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.reminder-btn {
  margin-left: 25px;
}
.tab-border {
  border: 1px solid #00b87c;
}
.tab-background {
  background:  #ACFFAC;
}

.reminder-tab__title, 
.reminder-tab__timer .calendar,
.reminder-tab__timer .clock{
/* width: 97%; */
    box-sizing: border-box;
    padding: 0.5em;
    margin: 10px auto 10px auto;
    border-bottom: 1px solid #f6f6f6 ;
    width: 100%;
}
.reminder-tab__title input, 
.reminder-tab__timer .calendar input,
.reminder-tab__timer .clock input{
  display: inline;
  border: none;
  outline: none;
  width: 70%;
  margin-left: 0.9em;
  font-family: 'Lato', sans-serif;
  }
  .reminder-tab__timer{
    display:flex;
    justify-content: space-between;
  }