@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");

.selct {
  background-color: white;
  color: black;
  font-size: 16px;
  width: 120px;
  padding-top: 45px;
  padding-left: 25px;
  padding-bottom: 8px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  margin-right: 20px;
  outline: none;
}

.boxx {
  display: inline-block;
  position: relative;
}

.boxx:first-child {
  margin-left: 30px;
}

.imge {
  position: absolute;
  top: 45px;
  left: 6px;
}

.dipl {
  display: inline-block;
}
