
/***** basic styles ******/
.Frame8888 {
  position: absolute;
  left: 268px;
  top: 106px;
  width: 1172px;
  height: 905px;
}
.Group1640 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1172px;
  height: 905px;
}
.Rectangle1905 {
  position: absolute;
  left: 0px;
  top: 71px;
  width: 1156px;
  height: 834px;
  background-color: #f6f6f6;
}
.Frame8886 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1172px;
  height: 71px;
  background-color: #e1fdf4;
}
.Group1320 {
  position: absolute;
  left: 16px;
  top: 24px;
  width: 183px;
  height: 23px;
}
.dashiconsarrowrightalt2 {
  position: absolute;
  left: 183px;
  top: 2px;
  width: 18.000003814697266px;
  height: 18px;
}
.PrimaryDefaultstate {
  position: absolute;
  left: 1020px;
  top: 12px;
  width: 8.96%;
  height: 67.61%;
}
.Frame8891 {
  position: absolute;
  left: 19px;
  top: 488px;
  width: 1105px;
  height: 115px;
  background-color: #ffffff;
}
.Group1314 {
  position: absolute;
  left: 24px;
  top: 24px;
  width: 192px;
  height: 67px;
}
.Group1313 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 192px;
  height: 67px;
}
.Group1660 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 192px;
  height: 67px;
}
.Group1659 {
  position: absolute;
  left: 1045px;
  top: 24px;
  width: 44px;
  height: 18px;
}
.Rectangle534 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 8px;
  height: 115px;
  background-color: #b8003c;
}
.Frame8892 {
  position: absolute;
  left: 19px;
  top: 609px;
  width: 1105px;
  height: 115px;
  background-color: #ffffff;
}
.Group1314 {
  position: absolute;
  left: 24px;
  top: 24px;
  width: 190px;
  height: 67px;
}
.Group1313 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 190px;
  height: 67px;
}
.Group1660 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 190px;
  height: 67px;
}
.Group1659 {
  position: absolute;
  left: 1045px;
  top: 24px;
  width: 44px;
  height: 18px;
}
.Rectangle534 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 8px;
  height: 115px;
  background-color: #b8003c;
}
.Frame8893 {
  position: absolute;
  left: 19px;
  top: 730px;
  width: 1105px;
  height: 115px;
  background-color: #ffffff;
}
.Group1314 {
  position: absolute;
  left: 24px;
  top: 24px;
  width: 174px;
  height: 67px;
}
.Group1313 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 174px;
  height: 67px;
}
.Group1660 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 174px;
  height: 67px;
}
.Group1659 {
  position: absolute;
  left: 1045px;
  top: 24px;
  width: 44px;
  height: 18px;
}
.Rectangle534 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 8px;
  height: 115px;
  background-color: #b8003c;
}