*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rowGrp {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}
.textGrp {
  text-align: right;
  width: 100px;
  padding: 0.3rem;
}
.radioBtnText {
  margin: auto;
  font-size: 0.9rem;
  font-weight: 700;
  color: #3a3a3a;
  margin-right: 1rem;
  text-align: center;
}
.showMeGrp {
  width: 100%;
  padding: 1rem;
  font-family: Lato, sans-serif;
  font-size: 700;
}
.radioGrp {
  display: flex;
  justify-content: flex-start;
  margin-left: 3rem;
}
.rowRadios {
  width: calc(100% - 100px);
  display: flex;
}
.radioBtnLabel {
  position: relative;
  color: #3a3a3a;
  font-size: 0.9rem;
  font-weight: 700;
  transition: all 400ms ease-in-out;
}
.radioBtnLabel:hover {
  cursor: pointer;
}
.radioBtnLabel::before {
  position: absolute;
  content: '';
  display: inline-flex;
  border: 1px solid #00b87c;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  left: -30px;
  border-radius: 50%;
  transition: all 400ms ease-in-out;
}
.radioBtnItem {
  display: none;
}
.radioBtnItem:checked + .radioBtnLabel::before {
  box-shadow: inset 0 0 0 0.2em #fff, inset 0 0 0 2em #00b87c;
}
.radioBtnItem:not(:checked) + .radioBtnLabel::before {
  border-color: #bebebe;
  color: #bebebe;
}
.radioBtnItem:not(:checked) + .radioBtnLabel {
  transition: all 400ms ease-in-out;
  color: #bebebe;
}
.radioBtnItem:not(:checked) + .radioBtnLabel:hover {
  color: #3a3a3a;
}
.radioBtnItem:not(:checked) + .radioBtnLabel:hover::before {
  border-color: #3a3a3a;
}
