.holiday {
  background-color: #fff;
  margin-bottom: 8px;
  padding: 15px;
  list-style: none;
}
.date-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}
.home-page {
  padding: 20px 20px 100px 20px;
}
.event-time {
  margin-bottom: 3px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

.edit-del {
  color: #00b87c;
  cursor: pointer;
}
.event-date {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.event-title {
  font-style: normal;
  font-size: 13px;
  font-weight: bold;
  font-family: "lato";
}
